html {
font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

.alice-updates {
  color: aliceblue;
  white-space: pre;
}

header {
  text-align: center;
  color: #ff0000;
  font-size: 3rem;
  padding: 2em;
}
