html {
font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: aliceblue;
}

header {
  text-align: center;
  color: #ff0000;
  font-size: 3rem;
  padding: 2em;
}

#aside-updates::after {
  content: "\a";
  white-space: pre;
}